<h1>Final Project</h1>
<h2>Abyel Romero, Karim Kabbara</h2>

In [1]:
import pandas as pd
import numpy as np
import cv2 as cv
import os

In [2]:
imageDataset = pd.read_csv("legend.csv")
imageDataset = imageDataset.drop(columns=['user.id'])

emotions = np.array(imageDataset['emotion'])

for i in range(len(emotions)):
    if emotions[i].lower() == 'anger':
        imageDataset.at[i, 'emotion'] = 1
    elif emotions[i].lower() == 'surprise':
        imageDataset.at[i, 'emotion'] = 2
    elif emotions[i].lower() == 'disgust':
        imageDataset.at[i, 'emotion'] = 3
    elif emotions[i].lower() == 'fear':
        imageDataset.at[i, 'emotion'] = 4
    elif emotions[i].lower() == 'neutral':
        imageDataset.at[i, 'emotion'] = 5
    elif emotions[i].lower() == 'happiness':
        imageDataset.at[i, 'emotion'] = 6
    elif emotions[i].lower() == 'sadness':
        imageDataset.at[i, 'emotion'] = 7

imageDataset

                                 image emotion
0      facial-expressions_2868588k.jpg       1
1      facial-expressions_2868585k.jpg       2
2      facial-expressions_2868584k.jpg       3
3      facial-expressions_2868582k.jpg       4
4               Aaron_Eckhart_0001.jpg       5
...                                ...     ...
13685            SharmilaTagore_80.jpg       6
13686            SharmilaTagore_81.jpg       6
13687            SharmilaTagore_82.jpg       6
13688            SharmilaTagore_83.jpg       6
13689             SharmilaTagore_9.jpg       6

[13690 rows x 2 columns]

In [3]:
from sklearn.model_selection import train_test_split

dataframe = pd.DataFrame(data=imageDataset)
dataframe['emotion']

train, test = train_test_split(dataframe, test_size = 0.20, train_size=0.8)
print("Train: \n")
print(train)
print("\nTest: \n")
print(test)

Train:

                         image emotion
3733   George_Clooney_0008.jpg       6
120     Ahmed_Chalabi_0004.jpg       6
853     Ari_Fleischer_0007.jpg       5
5672   Jason_Jennings_0002.jpg       6
295      Alex_Cabrera_0001.jpg       5
...                        ...     ...
9358       Norio_Ohga_0001.jpg       6
3672      Gary_Condit_0001.jpg       5
8853     Mike_Sweeney_0001.jpg       6
11667   Thomas_OBrien_0004.jpg       5
2606     David_Caruso_0001.jpg       5

[10952 rows x 2 columns]

Test:

                             image emotion
6729         Joseph_Biden_0004.jpg       5
1080   Benjamin_Netanyahu_0005.jpg       5
3375      Erin_Brockovich_0001.jpg       6
7039        Justin_Gatlin_0001.jpg       7
5292        Imad_Khadduri_0001.jpg       5
...                            ...     ...
10871    Samantha_Ledster_0001.jpg       6
3130     Eduardo_Chillida_0001.jpg       5
6454          John_Howard_0003.jpg       6
8852        Mike_Stefanik_0001.jpg       6
7203     Kenneth_Bowersox_0003.jpg       6

[2738 rows x 2 columns]

## PCA

In [4]:
#Matrix creation

from numpy import asarray
from PIL import Image
import os
import cv2
import pathlib

#Matrices for pictures 350 by 350 pixels.
X_train_matrix = np.zeros((train.shape[0],122500))
X_test_matrix = np.zeros((test.shape[0],122500))

#Train matrix convertion of images to arrays.
for i in range(0,train.shape[0]):
        
    X_train_path = str(pathlib.Path.cwd()) + "/images/" + train['image'].values[i]
    image = cv2.imread(X_train_path,0)
    
    if image is not None:#Some images could be null because we removed samples from the database smaller than 350x350 px.
        X_train_matrix[i,:] = image.reshape(1,122500)

    
#Test matrix convertion of images to arrays.
for i in range(0,test.shape[0]):
        
    X_test_path = str(pathlib.Path.cwd()) + "/images/" + test['image'].values[i]
    image = cv2.imread(X_test_path,0)
    if image is not None:
        X_test_matrix[i,:] = image.reshape(1,122500)

In [ ]:
#PCA Calculation

from numpy import linalg as LA
 
#To compute Eigenfaces we need the avg vector, and subtract this vector from the original faces i.e. centerizing data.

avg = X_train_matrix.mean(0)
print("Average Face Vectors: ", avg)

centerized = X_train_matrix - avg
print("Centerized Data: ", centerized)

covarianceMatrix = (np.dot(centerized.T, centerized)/(len(train)-1))
print("Covariance Matrix: ", covarianceMatrix)

eigenvalues, eigenvectors = LA.eig(covarianceMatrix)
print("Eigenvalues: ", eigenvalues)
print("Eigenvectors: ", eigenvectors)

Average Face Vectors:  [88.67786706 88.6432615  88.37910884 ... 87.71037253 87.74105186
 87.76524836]