<h1>Assignment 3: Karim Kabbara</h1>

<h2>Import libraries and load data</h2>

In [2]:
import pandas as pd
import numpy as np
import cv2 as cv
import os

<h2>Extract Data to DF</h2>

In [15]:
%cd data

imageDataset = pd.read_csv('legend.csv')
imageDataset = imageDataset.drop(columns=['user.id'])

emotions = np.array(imageDataset['emotion'])

for i in range(len(emotions)):
    if emotions[i].lower() == 'anger':
        imageDataset.at[i, 'emotion'] = 1
    elif emotions[i].lower() == 'surprise':
        imageDataset.at[i, 'emotion'] = 2
    elif emotions[i].lower() == 'disgust':
        imageDataset.at[i, 'emotion'] = 3
    elif emotions[i].lower() == 'fear':
        imageDataset.at[i, 'emotion'] = 4
    elif emotions[i].lower() == 'neutral':
        imageDataset.at[i, 'emotion'] = 5
    elif emotions[i].lower() == 'happiness':
        imageDataset.at[i, 'emotion'] = 6
    elif emotions[i].lower() == 'sadness':
        imageDataset.at[i, 'emotion'] = 7

imageDataset

[Errno 2] No such file or directory: 'data'
/Users/abyel26/Desktop/University/Semester 10/Machine Learning/SongRecommendationFacialRecognition/Song-Recommendation-Based-On-Mood/data

                                 image emotion
0      facial-expressions_2868588k.jpg       1
1      facial-expressions_2868585k.jpg       2
2      facial-expressions_2868584k.jpg       3
3      facial-expressions_2868582k.jpg       4
4               Aaron_Eckhart_0001.jpg       5
...                                ...     ...
13685            SharmilaTagore_80.jpg       6
13686            SharmilaTagore_81.jpg       6
13687            SharmilaTagore_82.jpg       6
13688            SharmilaTagore_83.jpg       6
13689             SharmilaTagore_9.jpg       6

[13690 rows x 2 columns]

<h3>Split dataset into 80/20</h3>

In [18]:
from sklearn.model_selection import train_test_split

# print(imageDataset)
dataframe = pd.DataFrame(data=imageDataset)
dataframe['emotion']

train, test = train_test_split(dataframe, test_size = 0.20, train_size=0.8)
print("Train: \n")
print(train)
print("\nTest: \n")
print(test)

Train:

                         image emotion
7748        Linda_Ham_0001.jpg       6
8461     Matt_Doherty_0001.jpg       5
5814    Jean_Chretien_0021.jpg       5
2139     Colin_Powell_0023.jpg       5
11182   Silvan_Shalom_0002.jpg       5
...                        ...     ...
10497  Robert_Redford_0005.jpg       6
932      Arturo_Gatti_0002.jpg       5
9597     Paul_Burrell_0003.jpg       5
7648        Lena_Olin_0001.jpg       6
10492  Robert_Pollack_0001.jpg       6

[10952 rows x 2 columns]

Test:

                              image emotion
4706       Guillermo_Canas_0003.jpg       6
12466       Warren_Buffett_0001.jpg       6
8976     Mohammed_Al-Douri_0004.jpg       5
4268         George_W_Bush_0470.jpg       5
3349            Eric_Lloyd_0001.jpg       6
...                             ...     ...
4163         George_W_Bush_0365.jpg       5
8525   Meghann_Shaughnessy_0001.jpg       5
12587         Winona_Ryder_0016.jpg       5
1885         Chen_Liang_Yu_0002.jpg       6
6086         Jesse_Jackson_0004.jpg       5

[2738 rows x 2 columns]